[submodule ".secrets"]
	path = .secrets
	url = git@github.com:xiaosq2000/.secrets.git
[submodule ".config/themes/rose-pine/starship"]
	path = .config/themes/rose-pine/starship
	url = https://github.com/xiaosq2000/starship
