# Reference: 
# https://stackoverflow.com/a/29932318/11393911

/*

!README.md

!.bashrc
!.zshrc

!.gitconfig
!.gitignore

!.config/
.config/*

!.config/nvim/
.config/nvim/lazy-lock.json

!.config/tmux/

!.config/zathura/
 
!.config/zsh/

!.config/starship.toml

!.latexmkrc
