# Reference: 
# https://stackoverflow.com/a/29932318/11393911

/*

!README.md

!.bashrc

# .gitconfig
!.gitignore

!.config/
.config/*

!.config/alacritty/
!.config/alacritty/alacritty.toml
.config/alacritty/themes

!.config/starship.toml

!.config/tmux/

!.config/zsh/
!.zshrc

!.config/nvim/
.config/nvim/lazy-lock.json

!.config/zathura/

!.latexmkrc

!.condarc

!.network_management.sh
!.secrets
