{{ if has "kitty" (includeTemplate "software-selection" . | fromJson).externals -}}
[Desktop Entry]
Type=Application
Name=kitty URL Launcher
Exec="{{ .chezmoi.homeDir }}/.local/kitty.app/bin/kitty" +open %U
Icon={{ .chezmoi.homeDir }}/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
NoDisplay=true
Categories=System;TerminalEmulator;
MimeType=image/*;text/*;inode/directory;application/x-sh;application/x-shellscript;
Terminal=false
{{ end -}}
