{{ if has "zotero" (includeTemplate "software-selection" . | fromJson).externals -}}
[Desktop Entry]
Type=Application
Name=Zotero
GenericName=Reference Manager
Exec="{{ .chezmoi.homeDir }}/.local/zotero/zotero" -url %U
Icon={{ .chezmoi.homeDir }}/.local/zotero/icons/icon128.png
Categories=Office;Science;
MimeType=x-scheme-handler/zotero;
StartupNotify=true
StartupWMClass=Zotero
Terminal=false
{{ end -}}
